beautifulsoup4==4.7.1
Click==7.0
Flask==1.0.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10
Markdown==3.1
MarkupSafe==1.1.1
micawber==0.4.0
peewee==3.9.3
Pygments==2.3.1
soupsieve==1.9
Werkzeug==0.15.1
